@import url(recet.css);

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #2f303a;
  --gray-color: #757575;
  --white-color: #ffffff;
  --light-gray-color: #f5f4fa;
  --behind-transparent: #00000033;
  --border-color: #eeeeee;
  --border-color-2: #ececec;
  --icons-color: #afb1b8;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: var(--white-color);
  padding: 25px 0;
  border-bottom: 1px solid var(--border-color-2);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo img {
  width: 145px;
  height: 31px;
}

.header-nav {
  margin-left: 90px;
}

.nav-list {
  display: flex;
  column-gap: 50px;
}

.header-link,
.filter-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color);
}

.header-link.active {
  color: var(--brand-color);
}

.header-link-items {
  position: relative;
}

.header-link-items ul {
  opacity: 0;
  z-index: -1;
}

/* .header-link:hover {
  color: var(--brand-color);
} */

/* .header-link-items:hover .filter-list {
  opacity: 1;
  z-index: 1;
  transform: translate(5px, 0);
} */

.header-contacts {
  margin-left: auto;
}

.header-burger {
  display: none;
}

.bg {
  background: var(--light-gray-color);
  border-radius: 4px;
  box-shadow: -2px 4px 6px var(--behind-transparent);
}

.filter-list {
  position: absolute;
  transition: all 0.3s linear;
  transform: translateY(-15px);
}

.filter-list-contacts {
  position: absolute;
  top: -10px;
  right: 0%;
  transition: all 0.3s linear;
}

.filter-list-item {
  position: relative;
  margin: 10px 0;
}

.filter-link {
  padding: 10px;
}

/* .filter-link:hover {
  color: var(--brand-color);
} */

/* .filter-list-item:hover .filter-list-contacts {
  opacity: 1;
  transform: translateX(-99px);
} */

.color {
  color: var(--brand-color);
}

.color_1 {
  color: var(--gray-color);
}

.color_1:active {
  color: var(--brand-color);
}

.hero {
  background: var(--secondary-color) url("../img/hero-background.jpg") no-repeat
    50% / cover;
  color: var(--white-color);
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, .5); */
}

.hero-container {
  min-height: calc(100vh - 85px);
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 3px;
  max-width: 696px;
}

.btn {
  padding: 10px 46px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-1 {
  padding: 6px 26px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

.btn-1.active {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.service-button {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.service-button:active {
  color: var(--brand-color);
  background-color: var(--white-color);
}

.hero-button-1 {
  color: var(--primary-color);
  background-color: var(--light-gray-color);
  transition: all 0.3s linear;
}

/* .hero-button-1:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  transform: scale(1.05);
} */

.hero-button-1:active {
  color: var(--primary-color);
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px var(--behind-transparent);
  transform: scale(1);
}

.portfolio-hero {
  padding: 94px 0;
}

.buttons {
  text-align: center;
  font-size: 0;
}

.buttons button:not(:first-child) {
  margin-left: 8px;
}

.doing {
  padding: 94px 0;
  background-color: var(--white-color);
}

.doing-bloc {
  display: flex;
  gap: 30px;
}

.doing-bloc-card {
  flex: 1 1 23%;
  position: relative;
  padding-top: 150px;
}

.doing-bloc-card::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 120px;
  border-radius: 4px;
}

.doing-bloc-card:nth-child(1):before {
  background:
    url("../img/doing-bloc-icon-1.png") no-repeat 50%,
    url("../img/doing-bloc-background.png") no-repeat 50% / cover;
}

.doing-bloc-card:nth-child(2):before {
  background:
    url("../img/doing-bloc-icon-2.png") no-repeat 50%,
    url("../img/doing-bloc-background.png") no-repeat 50% / cover;
}

.doing-bloc-card:nth-child(3):before {
  background:
    url("../img/doing-bloc-icon-3.png") no-repeat 50%,
    url("../img/doing-bloc-background.png") no-repeat 50% / cover;
}

.doing-bloc-card:nth-child(4):before {
  background:
    url("../img/doing-bloc-icon-4.png") no-repeat 50%,
    url("../img/doing-bloc-background.png") no-repeat 50% / cover;
}

.doing-attention-title {
  font-weight: 700;
  text-transform: uppercase;
}

.doing-attention-text {
  color: var(--gray-color);
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0.4px;
}

.doing-title-text {
  text-align: center;
  margin-top: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
}

.doing-cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.doing-cards-img {
  flex: 1 1 30%;
  height: 294px;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doing-cards-description {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
  position: absolute;
}

.doing-cards-img p {
  right: 0;
  bottom: 0;
  left: 0;
  background: #2f303acc;
  height: 70px;
  text-align: center;
  align-content: center;
}

.team {
  padding: 94px 0;
  background: var(--light-gray-color);
}

.team-title {
  text-align: center;
}

.team-cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-card-icon.active {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/* .team-card-icon:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  transform: scale(1.02) translateY(3px);
} */

.team-card-icon:active {
  color: var(--brand-color);
  background-color: var(--white-color);
  box-shadow: 0px 2px 4px var(--behind-transparent);
  transform: rotate(1turn);
}

.team-card-icons svg {
  width: 20px;
  height: 20px;
}

.team-card-icon {
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background: var(--white-color);
  border-radius: 50%;
  display: block;
  align-content: center;
  text-align: center;
  transition: all 0.2s linear;
}

.team-card-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-card {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--white-color);
  flex: 1 1 23%;
  box-shadow: 0px 2px 1px var(--behind-transparent);
}

.team-card-img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.team-card-box {
  padding: 30px;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
}

.team-card-description {
  font-size: 16px;
  color: var(--gray-color);
  margin-top: 10px;
}

.team-card-title,
.team-card-description {
  text-align: center;
}

.customers {
  padding: 94px 0;
}

.customers-title {
  text-align: center;
}

.customers-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.customers-card {
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: block;
  align-content: center;
  text-align: center;
  transition: all 0.3s linear;
}

/* .customers-card:hover {
  --icons-color: var(--brand-color);
  transform: translateY(-10px);
} */

.customers-card:active {
  box-shadow: 0px 2px 4px var(--behind-transparent);
}

.customers-card svg {
  width: 106px;
  height: 60px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.portfolio-card {
  flex: 1 1 30%;
  border: 1px solid var(--border-color);
  transition: all 0.8s;
}

/* .portfolio-card:hover {
  box-shadow: 1px 4px 6px var(--behind-transparent);
  transform: scale(1.01);
} */

/* .portfolio-card:hover .portfolio-card-text {
  opacity: 1;
  transform: translateY(0);
} */

.portfolio-card-img-bloc {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio-card-text {
  width: 100%;
  background: rgb(33, 150, 243, 0.9);
  opacity: 0;
  align-content: center;
  position: absolute;
  inset: 0;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding: 24px;
  transition: all 0.8s;
  transform: translateY(100%);
}

.portfolio-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-card-box {
  padding: 20px 24px;
  position: relative;
}

.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1px;
}

.portfolio-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 4px;
  color: var(--gray-color);
}

.footer {
  background: var(--secondary-color);
  padding: 60px 0;
}

.block {
  display: flex;
  gap: 130px;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
}

.footer-nav-list {
  margin-top: 20px;
  line-height: 24px;
}

.footer-nav-list a {
  color: var(--white-color);
  opacity: 0.6;
}

li {
  color: var(--white-color);
}

.footer-link {
  text-decoration: none;
}

.footer-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.footer-card-icons svg {
  width: 20px;
  height: 20px;
}

.footer-card-icons {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.footer-card-icons .foot {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.footer-card-icons-desc {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white-color);
}

/* .foot:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
} */

.foot:active {
  color: var(--brand-color);
  background-color: var(--white-color);
  box-shadow: 0px 2px 4px var(--icons-color);
}

.foot.active {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .header-link:hover {
    color: var(--brand-color);
  }
  .header-link-items:hover .filter-list {
    opacity: 1;
    z-index: 1;
    transform: translate(5px, 0);
  }
  .filter-link:hover {
    color: var(--brand-color);
  }
  .filter-list-item:hover .filter-list-contacts {
    opacity: 1;
    transform: translateX(-99px);
  }
  .hero-button-1:hover {
    color: var(--white-color);
    background-color: var(--brand-color);
    transform: scale(1.05);
  }
  .team-card-icon:hover {
    color: var(--white-color);
    background-color: var(--brand-color);
    transform: scale(1.02) translateY(3px);
  }
  .customers-card:hover {
    --icons-color: var(--brand-color);
    transform: translateY(-10px);
  }
  .portfolio-card:hover {
    box-shadow: 1px 4px 6px var(--behind-transparent);
    transform: scale(1.01);
  }
  .portfolio-card:hover .portfolio-card-text {
    opacity: 1;
    transform: translateY(0);
  }
  .foot:hover {
    color: var(--white-color);
    background-color: var(--brand-color);
  }
}

@media (max-width: 1280px) {
  .team-cards {
    flex-wrap: wrap;
  }

  .team-card {
    flex: 1 1 47%;
  }

  .customers {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 0;
  }

  .header-nav {
    margin-left: auto;
  }

  .filter-list {
    left: -58px;
  }

  .nav-list {
    column-gap: 20px;
  }

  .header-contacts {
    display: none;
  }

  .doing {
    padding: 60px 0;
  }

  .doing-bloc {
    flex-wrap: wrap;
  }

  .doing-bloc-card {
    flex-basis: 47%;
  }

  .doing-title {
    display: none;
  }

  .team {
    padding: 60px 0;
  }

  .team-cards {
    margin-top: 30px;
  }

  .portfolio-card {
    flex-basis: 47%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    padding: 16px 0;
  }

  .header-logo img {
    width: 134px;
    height: 28px;
  }

  .hero-title {
    font-size: 35px;
    line-height: 42px;
    max-width: 596px;
  }

  .portfolio-hero {
    padding: 60px 0;
  }

  .buttons {
    text-align: start;
  }

  .buttons button {
    margin: 0 0 15px 8px;
  }

  .portfolio-cards {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .header-container {
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }

  .header-burger {
    display: block;
    width: 24px;
    height: 16px;
    margin-left: 14px;
    position: relative;
    cursor: pointer;
  }

  .header-burger::before,
  .header-burger::after,
  .header-burger span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--primary-color);
  }

  .header-burger::after {
    top: auto;
    bottom: 0;
  }

  .header-burger span {
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-title {
    font-size: 26px;
    max-width: 360px;
  }

.portfolio-card-text {
  opacity: 1;
  transform: translateY(0);
}

  .doing-bloc-card {
    flex: 1 1 100%;
  }

  .title {
    font-size: 28px;
  }

  .block {
    justify-content: center;
  }

  .footer-container {
    text-align: center;
  }

  .footer-container-2 {
    display: none;
  }
  .portfolio-card {
    flex-basis: 100%;
  }
}
