@import url(recet.css);

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background:  #FFFFFF;
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 145px;
    height: 31px;
}

.header-nav {
    margin-left: 90px;
}

.nav-list {
    display: flex;
    column-gap: 50px;

}

.header-link {
    font-weight: 500;
    text-decoration: none;
    color: #212121;
}

.header-link.active {
    color: #2196F3;
}

.header-contacts {
    margin-left: auto;
}

.color{
    color: #2196F3;
}

.color_1{
    color: #757575;
}

.hero {
    background: #2F303A;
    color: #FFFFFF;
}

.hero-container {
    min-height: 600px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 3px;
    max-width: 696px;
}

.btn {
    padding: 10px 46px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

.hero-button, .service-button {
    background-color: #2196F3;
    color: #FFFFFF;
}

.hero-button:active, .service-button:active{
    color: #2196F3;
    background-color: #FFFFFF;
}

.doing {
    padding: 94px 0;
    background-color: #FFFFFF;
}

.doing-bloc {
    display: flex;
    gap: 30px; 
}

.doing-attention-title {
    font-weight: 700;
    text-transform: uppercase;
    
}

.doing-attention-text {
    color: #757575;
    line-height: 24px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.doing-100{
    flex: 1 1 23%;
}

.doing-title-text {
    text-align: center;
    margin-top: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
}

.doing-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.doing-cards-img {
    flex: 1 1 30%;
    height: 294px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    padding: 94px 0;
    background: #F5F4FA;
}

.team-title {
    text-align: center;
}

.team-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-card {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFFFFF;
    flex: 1 1 23%;
    box-shadow: 0px 2px 1px #00000033;
}

.team-card-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.team-card-box {
padding: 30px;
}

.team-card-title {
    font-weight: 500;
    font-size: 16px;
}

.team-card-description {
    font-size: 16px;
    color: #757575;
    margin-top: 10px;
}

.team-card-title, .team-card-description{
    text-align: center;
}

.footer{
    background: #2F303A;
    padding: 60px 0;
}

/* .footer-container {
    display: flex;
    flex-direction: column;
} */

.footer-logo{
    display: inline-block;
}

.footer-box {
    /* display: flex;
    flex-direction: column;
    gap: 9px; */
    margin-top: 20px;
    line-height: 24px;
}

.footer-nav-list a {
    color: #FFFFFF99;
}

li {
    color: #FFFFFF;
}

.footer-link {
    text-decoration: none;
}