@import url(recet.css);

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
--font-family: "Roboto", sans-serif;
--brand-color: #2196F3;
--primary-color: #212121;
--secondary-color: #2F303A;
--gray-color: #757575;
--white-color: #FFFFFF;
--light-gray-color: #F5F4FA;
--behind-transparent: #00000033;
--border-color: #EEEEEE;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background:  var(--white-color);
    padding: 25px 0;
    border-bottom: 1px var(--border-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 145px;
    height: 31px;
}

.header-nav {
    margin-left: 90px;
}

.nav-list {
    display: flex;
    column-gap: 50px;

}

.header-link {
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
}

.header-link.active {
    color: var(--brand-color);
}

.header-contacts {
    margin-left: auto;
}

.color {
    color: var(--brand-color);
}

.color_1 {
    color: var(--gray-color);
}

.color_1:active {
    color: var(--brand-color);
}

.hero {
    background: var(--secondary-color) url('../img/hero-background.jpg') no-repeat 50%/cover;
    color: var(--white-color);
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background: rgba(0, 0, 0, .5); */
}

.hero-container {
    min-height: 600px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 3px;
    max-width: 696px;
}

.btn {
    padding: 10px 46px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn-1 {
    padding: 6px 26px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}

.btn-1.active {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.service-button {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.service-button:active {
    color: var(--brand-color);
    background-color: var(--white-color);
}

.hero-button-1 {
    color: var(--primary-color);
    background-color: var(--light-gray-color);
}
.hero-button-1:hover {
    color: var(--white-color);
    background-color: var(--brand-color);
}
.hero-button-1:active {
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px var(--behind-transparent);
}

.portfolio-hero {
    padding: 94px 0;
}

.buttons {
    text-align: center;
    font-size: 0;
}

.buttons button:not(:first-child) {
    margin-left: 8px;
}

.doing {
    padding: 94px 0;
    background-color: var(--white-color);
}

.doing-bloc {
    display: flex;
    gap: 30px; 
}

.doing-bloc-card {
    flex: 1 1 23%;
    position: relative;
}

.doing-bloc-card::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 120px;
    border-radius: 4px;
}

.doing-bloc-card:nth-child(1):before {
    background: url('../img/doing-bloc-icon-1.png') no-repeat 50%,
    url('../img/doing-bloc-background.png') no-repeat 50%;
}

.doing-bloc-card:nth-child(2):before {
    background: url('../img/doing-bloc-icon-2.png') no-repeat 50%,
    url('../img/doing-bloc-background.png') no-repeat 50%;
}

.doing-bloc-card:nth-child(3):before {
    background: url('../img/doing-bloc-icon-3.png') no-repeat 50%,
    url('../img/doing-bloc-background.png') no-repeat 50%;
}

.doing-bloc-card:nth-child(4):before {
    background: url('../img/doing-bloc-icon-4.png') no-repeat 50%,
    url('../img/doing-bloc-background.png') no-repeat 50%;
}

.doing-attention-title {
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 150px;
}

.doing-attention-text {
    color: var(--gray-color);
    line-height: 24px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.doing-title-text {
    text-align: center;
    margin-top: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
}

.doing-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.doing-cards-img {
    flex: 1 1 30%;
    height: 294px;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doing-cards-description {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    position: absolute;
    
}
.doing-cards-img p {
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--secondary-color);
    opacity: 0.8;
    height: 70px;
    text-align: center;
    align-content: center;
}
.team {
    padding: 94px 0;
    background: var(--light-gray-color);
}

.team-title {
    text-align: center;
}

.team-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-card {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--white-color);
    flex: 1 1 23%;
    box-shadow: 0px 2px 1px var(--behind-transparent);
}

.team-card-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.team-card-box {
padding: 30px;
}

.team-card-title {
    font-weight: 500;
    font-size: 16px;
}

.team-card-description {
    font-size: 16px;
    color: var(--gray-color);
    margin-top: 10px;
}

.team-card-title, .team-card-description {
    text-align: center;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
}

.portfolio-card {
    flex: 1 1 30%;
    border: 1px solid var(--border-color);
}

.portfolio-card:hover{
    box-shadow: 1px 4px 6px var(--behind-transparent);
}

.portfolio-card:hover .portfolio-card-text{
    display: block;
    align-content: center;
}
    
.portfolio-card-img-bloc {
    height: 294px;
    position: relative;
}

.portfolio-card-text {
    width: 368px;
    background: rgb(33, 150, 243, 0.9);
    display: none;
    position: absolute;
    inset: 0;
    color: var(--white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    padding: 24px;
}

.portfolio-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-card-box {
    padding: 20px 24px;
}

.portfolio-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1px;
}

.portfolio-card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 4px;
    color: var(--gray-color);
}

.footer {
    background: var(--secondary-color);
    padding: 60px 0;
}

.footer-logo {
    display: inline-block;
}

.footer-nav-list {
    margin-top: 20px;
    line-height: 24px;
}

.footer-nav-list a {
    color: var(--white-color);
    opacity: 0.6;
}

li {
    color: var(--white-color);
}

.footer-link {
    text-decoration: none;
}